<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <title>Splashcreen</title>
        <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="public/stylesheets/splash.css">
    </head>
    <body>
        <div class="resolution">
            Please resize your screen to a minimal width of 1200px.
        </div>
        <header>
            <div>
                <h4>Games won as a code breaker: <%= gamesWONCB %></h4>
                <h4>Games won as a code maker : <%= gamesWonCM %></h4>
            </div>
            <div>
                <h4>Games initialized : <%= gamesInitialized %></h4>
            </div>
        </header>
        <main>
            <h1>MAΣTERMINΔ</h1>
            <div class="buttonsBox">
                <form action="/game" method="GET">
                    <button type="submit" class="buttonStart">
                        <h3>Start</h3>
                    </button>
                </form>
                    <button class="buttonHowTo">
                        <h3>How to play</h3>
                    </button>
            </div>
        </main>
        <footer>
            <div class="credits">
            </div>
        </footer>
    </body>
</html>
