@import url('https://fonts.googleapis.com/css?family=Orbitron');


header div{
    top:0;
    display:flex;
    justify-content: space-around;
}
.title{
    font-family:'Roboto';
    color:white;
}

.buttonCheck div button{
    border:1px solid black;
    border-radius:3px;
    padding:10px;
    font-family:'Chakra Petch';
    border-radius:3px;
    background-color:rgb(255, 255, 255);
    transition: background-color 1s;
}
.buttonCheck div{
    text-align:center;
}
.buttonCheck div button:hover{
    background-color:rgb(255, 249, 163);
}

.buttonCheck div button:active{
    background-color:rgb(255, 241, 111);
    
}
.buttonLogOut{
    background-color:white;
    border-radius:4px;
}
.logOut{
    width:40px;
    height:40px;
}

.timer{
    font-family:'Orbitron';
    color:white;
}

.tableMastermind, .tableChoose{
    width:100%;
    height:70%;
    position:absolute;
    bottom:15px;
    border-collapse: collapse
}
.tdGuessColumnSolution{
    font-family:'Orbitron';
    color:white;
    font-size:35px;

}
.tdCircles div div, .tdColorPicker div div{
    font-size:35px;
    width:100%;
    margin: 0 auto;
    text-align:center;
    font-family:'Orbitron';
    color:white;
}

.tdPegsfirstRow, .tdPegsSecondRow{
    display:flex;
    justify-content: space-evenly;
}

.tdCircles:not(.tdGuessColumn){
    border-right:2px solid rgb(150, 150, 150);
}
.tdPegs:not(.tdPegs0){
    border-right:2px solid rgb(150, 150, 150);
    border-bottom:2px solid rgb(150, 150, 150);
    border-top:2px solid rgb(150, 150, 150);

}
.trCircles4 td{
    border-bottom:2px solid grey;
}
.tdGuessColumn, .tdCircles0{
    border-bottom:initial !important;
}
.tdPegs10,.tdCircles11{
    border-left:2px solid rgb(150, 150, 150);
}

.tdPegs{
    color:white;
}

.messageBox{
    color:white;
    width:100%;
    text-align:center;
    font-family:'Roboto';
    position:relative;
    top:5px;
}

.tableChoose{
    color:white;
    font-family:'Roboto';
    height:30%;
    position:absolute;
    bottom:100px;
}

.tdColorPicker{
    border-top:2px solid grey;
}

.fullscreenIcon{
    width:35px;
    height:35px;
}
.fullScreenDiv{
    padding:15px;
    background-color:white;
    border-radius:5px;
    margin-left:15px;
}

.cookieLogger{
    position:relative;
    bottom:0;
    left:0;
}
.tdColorPicker:hover, button:hover, .tdRemover0:hover, .fullscreenIcon:hover, .tdRemoverSolution3:hover,
.tdRemoverSolution2:hover,
.tdRemoverSolution1:hover,
.tdRemoverSolution0:hover{
    cursor:pointer;
}
